// Navigation Styles here


.navigation{
    border-bottom: 2px dashed @navigation-border;
    padding: 2% 4%;
        .display-flex(space-between, center);
        // max-width: 800px;
        div{
            width: 48%;
        }//end of div
        nav{
            width: 40%;
            display: flex;
            justify-items: space-between;
            a{
                width: 100%;
            }//end of a
        }//end of nav
}//end of navigation
